body {
    background-color: rgb(199, 219, 226);
}

h1 {
    color: navy;
    margin-left: 20px;
}

#calcResult {
    border: 1px solid black;
    width: 170px;
    height: 25px;
    padding-left: 5px;
    padding-top: 5px;
}